@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;500;600;700 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #144E73;
    --cor1: #1B68A0;
    --cor2: #F2D857;
    --cor3: #D95F76;
    --cor4: #B89C91;
}

body {
    max-width: 1150px;
    margin: auto;
    text-indent: 20px;

}

body h1 {
    line-height: 1em;
}

header div#navegacao {
    padding: 15px 0px 20px 0px;
    text-align: center;
    font-size: 0.9em;
    box-shadow: inset -1px -2px 7px 1px #00000030;
}

header div#navegacao a {
    color: black;
    font-size: 1.7em;
    font-weight: bolder;
    margin-left: 20px;
    text-decoration: none;
}

header div#navegacao a:hover {
    color: var(--cor2);
}

/*Menu inicial*/

header nav#nav-principal {
    background-color:var(--cor0);
    text-align: right;
    padding: 32px 0px 64px 0px;
}

header nav#nav-principal div img {
    max-width: 120px;
    padding: 0px 274px 0px 0px;
}

header nav#nav-principal a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 0px 57px 0px 0px;
}

header nav#nav-principal a:hover {
    color: var(--cor4);
}

/*Menu principal*/

section#melhor-brasil {
    color: #F2ECD8;
    background-image: url(imagens/fundo-fera-bela.jpg);
    background-size: 1220px ;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: inset -1px -2px 7px 1px #00000030;
    padding: 0px 0px 150px 0px;

}

section#melhor-brasil h1 {
    color: var(--cor2);
    font-size: 2.7em;
    padding-top: 60px;
    
}

section#melhor-brasil h1 div {
    background-color: #00000073;
}

section#melhor-brasil p {
    color: var(--cor2);
    text-align: center;
}

section div#melhor-brasil-para {

    text-align: center;
    padding: 165px 0px 0px 0px;
}

section div#melhor-brasil-para p {
    background-color: #00000073;
    padding: 10px 5px;
}

/*Melhor iptv do brasil parte inicial dos conteúdos*/


section#nova-renda {
    line-height: 1.5em;/*espaço entre as linhas, textos*/
}

section#nova-renda h1 {
    font-size: 2em;
    text-align: center;
    padding: 20px 0px 15px 10px;
}

section article#renda-extra {
    background-color: var(--cor2);
    background-image: url(imagens/fundo-renda-extra-din.jpg);
}

section article#renda-extra h1 {
    color: var(--cor2);
    text-align: center;
    font-size: 2.7em;
}

section article#renda-extra h2 {
    color: var(--cor4);
    text-align: center;
    font-family: 'Dancing Script', 'cursiva';
    font-size: 1.3em;

}

section article#renda-extra p {
    color: var(--cor4 );
    text-align: center;
    font-size: 1.2em;
    padding: 21px 0px 33px 21px;
}

section div#renda-extra-p p{
    background-color: rgba(0, 0, 0, 0.411);
}

section  div#renda-extra-pp p {
    color: var(--cor2);

}
